body {
  background-color: var(--white);

  margin: 0;
  font-family: "Rubik", "Roboto", "Helvetica", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global classes */
.section-spacing {
  width: 100%;
  padding: 30px;
}

.dark-text {
  color: var(--dark-text);
}

@media screen and (max-width: 576px) {
  .section-spacing {
    padding: 30px 20px;
  }
}

/* Custom Bootstrap classes */
.btn-custom-primary {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}
.btn-custom-primary:hover {
  background-color: var(--primary-hover) !important;
}

.btn-custom-secondary {
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
}
.btn-custom-secondary:hover {
  background-color: var(--neutral-white) !important;
}