body {
  /* App Color Palette */
  background-color: var(--white);
  
  --primary: #FF462B;
  --secondary: #FFF2F1;
  --tertiary: #263338;

  --white: #FFFFFF;
  --neutral-white: #F5F5F5;
  --darker-white: #EBEBEB;

  --neutral-gray: #777777;

  --brighter-black: #4C4C47;
  --neutral-black: #332626;
  --black: #000000;

  --success: #5C946E;
  --warning: #F8C630;

  --standard-shadow: rgba(0, 0, 0, 0.25);
  --strong-shadow: rgba(0, 0, 0, 0.5);

  margin: 0;
  font-family: "Rubik", "Roboto", "Helvetica", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section-spacing {
  width: 100%;
  padding: 20px 30px;
}